{% extends 'base.html' %}

{% block title %}
List of Applicants
{% endblock title %}

{% block body %}
<div class="container">
<h2> List of Applicants applied for this opening </h2>
{% for row in applicant_list %}

<div class="card my-5">
<div class="card-header">
Username: {{row.user.username}}
</div>
<div class="card-body">
<p class="card-text">Name: {{row.user.first_name}}{{row.user.last_name}}</p>
<p class="card-text">Email: {{row.user.email}}</p>

</div>
<div class="card-footer">
{% comment %} <p class="card-text">{{job.jobtype}}</p>
<a href="{{job.slug}}" class="btn btn-primary">view details</a> {% endcomment %}

</div>
{% endfor %}
</div>
{% endblock body %}
