{% extends 'base.html' %}
{% block body %}
<div class="col-4">
      <div class="d-felx flex-column">
        <img src="/media/company/{{resume.avatar}}" style="border-radius: 50%;" width="240px" height="240px" alt="">
        <h3>{{user.username}}</h3>
        <h3>{{user.first_name}} {{user.last_name}}</h3>
        <p>{{resume.desc}}</p>
        <button class="btn btn-primary">Edit Resume</button>
        <p>{{resume.phn_no}}</p>
        <p>{{resume.primary_city}}</p>
        <p>{{resume.secondary_city}}</p>
        <p>{{accomplishments.desc}}</p>
      </div>
</div>
{% endblock body %}