{% extends 'base.html' %} 

{% block title %}Account{% endblock title %} 

{% block body %}

<h2>Search for a Start up based on your skill set</h2>

<form action="joblist" method="POST">
    {% csrf_token  %}

  <label for="job" placeholder="skill" id="myInput">Job Role:</label>
    <select id="skill" name="skill" >
      <optgroup label="Web">
        <option value="frontend_developer">Front-End Developer</option>
        <option value="php_developer">PHP Developer</option>
        <option value="python_developer">Python Developer</option>
        <option value="rails_developer">Rails Developer</option>
        <option value="web_designer">Web Designer</option>
        <option value="wordpress_developer">Wordpress Developer</option>
      </optgroup>
      <optgroup label="Mobile">
        <option value="android_developer">Android Developer</option>
        <option value="ios_developer">IOS Developer</option>
        <option value="mobile_designer">Mobile Designer</option>
      </optgroup>
      <optgroup label="Business">
        <option value="business_owner">Business Owner</option>
        <option value="freelancer">Freelancer</option>
      </optgroup>
    </select>
  <input type="submit" value="Submit">
</form>
<br><br><br>

<h3>Jobs for which you have already applied for</h3>

{% endblock body %}