<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    JOBS LIST
    {% comment %} <br>
    {{request.user.username}}
    <p>{{company_details}}<p>
    <p>{{company_details.0.company_name}}<p>
<br>
    <p>{{job_details}}</p>
    <br>
    {{job_details.0.job_desc}} {% endcomment %}
    {% comment %} <p>{{job_opening.job_desc}}</p> {% endcomment %}
    <br>
    {% comment %} <p>{{job_opening.skill}}</p> {% endcomment %}
    {% for i in job_details %}
        <p>{{company_details.0.company_name}}<p>
        {{job_details.i.job_desc}}
        {{job_details.i.skill}}
        {{job_details.i.expirence}}
        {{job_details.i.location}}
        <br>
        <br>
    {%endfor%} 


    {% comment %} {{user_job_opening.find({"skill":{{skill}}})}}. {% endcomment %}
</body>
</html>