<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    JOBS LIST
    <p>{{job_opening}}</p>
    {% comment %} <p>{{job_opening.job_desc}}</p> {% endcomment %}
    <br>
    {% comment %} <p>{{job_opening.skill}}</p> {% endcomment %}
    {% for row in job_opening %}
        {{row.job_desc}}
        {% comment %} <br> {% endcomment %}
        {{row.skill}}
        {% comment %} <br> {% endcomment %}
        {{row.expirence}}
        {% comment %} <br> {% endcomment %}
        {{row.location}}
        <br>
        <br>
    {%endfor%}


    {% comment %} {{user_job_opening.find({"skill":{{skill}}})}}. {% endcomment %}
</body>
</html>